* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a191f;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.main{
  margin-top: 300px;
}
.header {
  &__logo {
    font-size: 32px;
    text-decoration: none;
    color: white;
    font-family: "Klee One";
  }
  &__search {
    padding: 10px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
  }
  &__year {
    margin-left: 10px;
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
  }
  &__year1 {
    margin-left: 500px;
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
  }
  &__genre {
    margin-left: 10px;
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
  }
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
  }
}
button {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  padding: 8px;
  border: 2px solid #1a191f;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.movie1 {
  display: flex;
  height: 400px;
  margin: 10px;
  position: relative;
  gap: 30px;
  &__average {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: white;
    font-size: 14px;
  }
  &__average--green {
    border: 1.5px solid rgb(126, 176, 52);
  }
  &__average--green {
    border: 1.5px solid #ff8c00;
  }
  &__average--green {
    border: 1.5px solid red;
  }
}
.loading__box{
display: flex;
justify-content: center;
margin: 0 auto;
width: 100%;
}
.movie {
  width: 240px;
  margin: 10px;
  position: relative;
  &__today {
    width: 600px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  &__cover {
    max-width: 100%;
    height: 100%;
  }
  &__cover1 {
    max-width: 100%;
    height: 100%;
  }
  &__cover-inner {
    position: relative;
    height: 360px;
  }
  &__cover--darkened {
    background-color: black;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__cover--darkened:hover {
    background-color: grey;
    cursor: pointer;
  }
  &__info {
    padding: 10px 0px;
  }
  &__title {
    font-size: 16px;
    color: white;
  }
  &__t {
    font-size: 30px;
    color: white;
    padding-bottom: 15px;
  }
  &__c {
    font-size: 20px;
    color: #ffd80e;
    padding-bottom: 10px;
  }
  &__category {
    font-size: 14px normal;
    color: #ffd80e;
    position: relative;
  }
  &__average {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: white;
    font-size: 14px;
  }
  &__average--green {
    border: 1.5px solid rgb(126, 176, 52);
  }
  &__average--orange {
    border: 1.5px solid #ff8c00;
  }
  &__average--red {
    border: 1.5px solid red;
  }
  &__svg {
    position: absolute;
    top: 13px;
    right: 0px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    transition: width height 1s;
    z-index:1 ;
  }
  &__svg:hover {
    stroke: #EE204D;
    fill:#EE204D ;
    cursor: pointer;
  }
}

#myImg {
  cursor: pointer;
  transition: 0.3s;
}
#myImg:hover {
  opacity: 0.7;
}
.modal {
display: block;
  position: relative;
  /* margin-top: -800px; */
  z-index: 3;
  padding: 50px 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 90%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.665);
  position: fixed;
  top: 4%;
  width: 100%;
  max-width: inherit;
  &-content {
    margin: auto;
    display: block;
    max-width: 700px;
  }
  &__container {
    display: flex;
    gap: 50px;
    color: white;
    /* padding: 100px; */
    width: 75%;
    margin: 0 auto;
  }
  &__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 800px;
  }
  &__year {
    padding-bottom: 10px;
    color: white;
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
h4 {
  color: #ffd80e;
  font-size: 30px;
}
.next__page {
  color: black;
  border: 1px solid white;
  cursor: pointer;
  background-color: white;
}
.loading{
  text-align: center;
}
@media (max-width: 991px) {
  .header{
    margin-bottom: 200px;
    &__year1 {
      margin-left: 0px;
    }
    &__year {
      margin-left: 0px;
    }
    &__genre {
      margin-left: 0px;
      padding: 8px;
      border: 2px solid #1a191f;
      border-radius: 5px;
      outline: none;
    }
    &__logo {
      padding: 10px;
    }
  }
  .header-content {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .main{
    margin-top: 400px;
  }
  .today{
    margin-top: 370px;
  }
  .movie{
    width: 240px;
    margin: 0 auto;
    &__today {
    margin: 0 auto;
    width: 100vw;
    }
    &__info{
    width: 340px;
    }
    &__category{
    width: 270px;
      }
  }
  .movies {
    margin: 0 auto;
  }
  .movie1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    padding: 0px 20px;
    text-align: center;
    width: 100vw;
  }
  .movie1__cover1 {
    max-width: 100%;
    height: 100%;
  }
  .movie1__average {
    position: absolute;
    top: -50px;
    left: 60px;
    right: 0px;
  }
  .modal__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    margin: 0 auto;
  }
  .modal-content{
    margin: 0;
  }
  .modal__text{
    max-width: 550px;
  }
  .modal__title{
    max-width: 350px;
  }
  .modal__box {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 0;
  }
  .modal-content {
    max-width: 250px;
  }
  .movie__cover--darkened{
    width: 100vw;
  }
}

@media (max-width: 575.98px) { 
  // .movie__today{
  //   margin-left: -50px;
  // }
  .movie{
    margin: 0 auto;
    padding: 0px;
    width: 250px;
    &__info{
      width: 100vw;
      }
      &__title{
        width: 240px;
        }
  }
  .movie1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    text-align: center;
    width: 100vw;
  }
 }
 @media (max-width: 375px) { 
  .header{
    margin-bottom: 100px;
  }
  .movie__today{
    margin: 0 auto;
    // margin-left: -95px;
  }
  .movies{
    margin: 0 auto;
  }
  .movie{
    margin: 0 auto;
    padding: 0px;
    width: 250px;
    &__info{
      width: 100vw;
      }
      &__title{
        width: 240px;
        }
  }
  .movie1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    padding: 0px 20px;
    text-align: center;
    width: 100vw;
  }
  .movie__cover-inner{
    width: 100vw;
    margin: 0 auto;
  }
  .movie__cover--darkened {
    width: 100vw;
    margin: 0 auto;
}
 }